{% extends "base.html" %}

{% block content %}
    <section class="uploader">
    <h1>Image Upload</h1>
        <p style="text-align: center">Please upload your Image in the following format: <em> ID - Title </em> <br> e.g. <em>290996 - Santa playing banjo.jpg</em></p>
    <div class="uploader">
    {{ dropzone.load_js() }}
    {{ dropzone.config(allowed_file_type="image", default_message="Drop your Image here", redirect_url=url_for('uploader.image_uploader')) }}
    {{ dropzone.create(action=url_for('uploader.image_uploader')) }}
        </div>
</section>
    <section class="images">
<div class="image-list">

<div class="row">
    {% for name in image_names %}
        <div class="col-lg-4">
        <picture>
        <img class="image-preview rounded img-fluid img-thumbnail" src="{{ url_for('static', filename='uploads/images/' + name) }}">
        </picture>
        </div>
        <div class="col-lg-6">
        <ul>
            <li>"Id: 290996"</li>
            <li>"Title: {{ name }}"</li>
            <li>"Image Rights: All rights reserved"</li>
        </ul>
        </div>
        <div class="col-lg-2">
        <button type="button" class="close" aria-label="Close">
            <a href="{{ url_for('uploader.delete_image', img_to_delete=name) }}">&times;</a>
        </button>
        </div>
    {% endfor %}
</div>

</div>
    <div class="button-list">
    <a href="{{ url_for('uploader.csv_uploader') }}">Back to the CSV Upload</a>
    <a href="{{ url_for('uploader.delete_latest_image') }}">Delete last Image</a>
    <a href="{{ url_for('uploader.delete_all') }}">Delete all Images</a>
        <a href="{{ url_for('index') }}">Upload to ArchivesSpace</a>
    </div>
</section>
{% endblock %}