div#loading {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: auto;
    display: none;
    background: url("ajax-loader.gif") no-repeat;
    cursor: wait;
    }

body{
}

.headline{
    width: 80%;
    text-align: center;
    margin: auto auto;
}
.headline h1{
    margin-top: 2rem;
}
.choose{
    display: flex;
    margin: 5em auto;
    text-align: center;
}

.choose h4{
    margin-top: 1rem;
}

.choose img{
    display: inline-flex;
    width: 75%;
}
.choose .card{
    width: 60%;
    margin: auto;
}

.subtitle{
    margin-top: 2rem;
}

.uploader{
    margin: auto auto;
    width: 100%;
}

.heading{
    text-align: center;
}

.small-image{
    width:30%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row-names{
    color: red;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inactiveLinks{
    pointer-events: none;
    cursor: default;
    text-align: center;
}

.csv-list{
    margin: 4rem 0;
    padding-left: 4rem;
}

.action-icons{
    margin-top: 2rem;
}

.image-preview{
    width: 40%;
}

.image-list{
    width:80%;
    margin: 1rem auto;
}

.image-info{
    padding-top: 0.3rem;
}

.button-list{
    width: 80%;
    margin-left: 14rem;
}